.settingsButton:hover {
  transform: scale(1.15);
}

.playButton:hover {
  transform: scale(1.15);
}

.recordButton:hover {
  transform: scale(1.15);
}

.picButton:hover {
  transform: scale(1.15);
}

.headerContainer {
  padding: 10px;
  text-align: center;
  background: #f2a63b;
  font-size: 30px;
}

.settingsButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 110px;
  float: right;
  outline: 5px solid #d25753;
  background-color: #4c3024;
}

.pageContainer {
  background: #ef8738;
}

.buttonsContainer {
  width: 1000px;
  margin: 0 auto;
  height: 200px;
}
.buttonsContainer [class*="box"] {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.buttonsContainer .boxRecord {
  margin-right: 0;
}

.gameContainer {
  position: relative;
  width: 95%;
  margin: 0 auto;
  /*find way to make this a percent, not a pixel amount*/
}
.gameContainer [class*="box"] {
  margin-top: 1.5%;
  width: 30%;
  float: left;
  margin-right: 5%;
}

.gameContainer .boxPic3 {
  /*required to keep the three divs with pictures in them in correct order*/
  margin-right: 0;
}

.playButton {
  display: block;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 90%;
  outline: 5px solid #d25753;
  background-color: #4c3024;
}

.playButtonImage {
  vertical-align: top;
  width: auto;
  height: 100%;
  margin-top: -10%;
}

.recordButton {
  display: block;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 90%;
  outline: 5px solid #d25753;
  background-color: #4c3024;
}

.recordButtonImage {
  vertical-align: top;
  width: auto;
  height: 100%;
}

.picButton {
  width: 100%;
  outline: 5px solid #d25753;
}

.wordsContainer {
  padding: 80px;
  text-align: center;
  background: #4c3024;
  font-size: 30px;
  color: antiquewhite;
}

.logoImage {
  vertical-align: top;
  width: auto;
  height: 100%;
}

.titlePageContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url("../images/titlePage/trail2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  z-index: -1;
  margin: auto;
  text-align: center;
  color: black;
  text-shadow: 8px 8px 16px rgb(255, 255, 255);
  font-size: 3rem;
}

.title:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

.titleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 15%;
  filter: brightness(0.5);
}

.recordingButtonsContainer {
  display: none;
  background-color: #f2a63b;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 400px;
  height: 400px;
  outline: 5px solid #d25753;
}

.displayWord {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c3024;
  font-size: 30px;
  color: antiquewhite;
  width: 150px;
  height: 80px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: 5px solid #d25753;
}

.stopRecordingButton {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  width: 150px;
  height: 80px;
  margin-left: 30px;
  outline: 5px solid #d25753;
  background-color: #4c3024;
  font-size: 25px;
  color: antiquewhite;
}

.listenRecordingButton {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  width: 150px;
  height: 80px;
  outline: 5px solid #d25753;
  background-color: #4c3024;
  font-size: 25px;
  color: antiquewhite;
  margin-left: 215px;
}

.saveRecordingButton {
  margin: 0;
  position: absolute;
  width: 150px;
  height: 80px;
  margin-left: 30px;
  outline: 5px solid #d25753;
  background-color: #4c3024;
  font-size: 25px;
  color: antiquewhite;
  top: 80%;
  transform: translateY(-70%);
}

.discardRecordingButton {
  margin: 0;
  position: absolute;
  width: 150px;
  height: 80px;
  margin-left: 30px;
  outline: 5px solid #d25753;
  background-color: #4c3024;
  font-size: 25px;
  color: antiquewhite;
  top: 80%;
  transform: translateY(-70%);
  margin-left: 215px;
}

.correctAnswer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.successImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: auto;
}
