.record-button {
  height: 8em;
  width: 8em;
  border-color: #f3f3f3 !important;
}

.record-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.settingsButton:hover {
  box-shadow: 0 0 0 3px #d25753;

  transform: scale(1.25);
}

.headerContainer {
  padding: 10px;
  text-align: center;
  background: #f2a63b;
  font-size: 30px;
  margin-bottom: 4%;
}

.settingsButton {
  position: absolute;
  background: #f2a63b;
  top: 20px;
  right: 20px;
  width: 110px;
  float: right;
}

.pageContainer {
  background: #ef8738;
}

.buttonsContainer {
  width: 1000px;
  margin: 0 auto;
  height: 200px;
}
.buttonsContainer [class*="box"] {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 50px;
}
.buttonsContainer .boxPlay {
  background-color: #000;
  text-align: center;
}

.buttonsContainer .boxWords {
  background-color: #999;
}
.buttonsContainer .boxRecord {
  background-color: #333;
  margin-right: 0;
}

.gameContainer {
  margin-top: 50px;
  width: 95%;
  margin: 0 auto;
  /*find way to make this a percent, not a pixel amount*/
  height: 450px;
}
.gameContainer [class*="box"] {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
}
.gameContainer .boxPic1 {
  background-color: #000;
}
.gameContainer .boxPic2 {
  background-color: #999;
}
.gameContainer .boxPic3 {
  background-color: #333;
  margin-right: 0;
}

.playButton {
  display: block;
  background: #d03bf2;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 90%;
}

.wordsButton {
  display: block;
  background: #273879;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 90%;
}

.recordButton {
  display: block;
  background: #47a816; 
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 90%;

}
